/*--------------Base Styles--------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 100%;
}

body {
  width:100%;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  font-family: 'Rubik', sans-serif;
  color: #242424;
  /* Up to you if you want to use grid or not */
  
	/* display: grid;
  
	grid-template-areas: 
  "header"
  "main"
  "footer"; */
}
ol{
  padding-left:50px;
}



/*--------------Typography--------------*/
h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  line-height: 1.7em;
  font-size: 3.7em;
  padding:30px 0px;
}

h2 {
  font-weight: 700;
  font-size: 2.4em;
  padding: 20px 0px;
}

h3{
  font-weight: 600;
  font-size: 1.5em;
  padding: 15px 0px;
 
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  line-height:1.5em;
  padding: 10px 0px;
}

button {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1em;
}

ol{
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  line-height:1.5em;
}

a{
  color: white;
  text-decoration: none;
}


/*--------------Hero Image: Home--------------*/

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("Images/beach.png");
  /*background-image: url("Images/step-up.png");*/
  width:100%;
  height: auto;
  padding-top: 200px;
  padding-bottom:120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  color: white;
  padding: 0px 100px;
  text-shadow: 2px 2px 15px rgb(85, 85, 85);
}

.hero-text p {
 margin-top:100px;
 font-size: 1.3em;
}

section.hero{
  padding:0px;
}

.hero-text button {
 border: none;
 display: inline-block;
 margin-top: 10px;
 padding: 20px 30px;
 cursor: pointer;
 color: #242424;
 background-color: white;
 border-radius: 30px;
}


.hero-text button:hover {
  border:none;
  background-color: #242424;
  color: white;
}

/*--------------Main Content--------------*/
section {
  padding: 30px 100px;
}

section:nth-of-type(2n){
  background: #f0f0f0;
}

section:nth-of-type(2n) button:hover{
  background-color: #f0f0f0;
}
button{
  cursor: pointer;
  border: 3px solid #242424;
  border-radius: 30px;
  background-color: #242424;
  color: white;
  padding: 20px 30px;
  margin: 10px 0px;
  transition: background-color 0.3s ease;
}

button:hover{
  border: 3px solid #242424;
  background-color: white;
  color: #242424;
}

img.picture{
  width:400px;
}

img.icon{
  width:180px;
}

iframe{
 width: 560px;
 height:315px;
 margin: 0 auto;
}
/*--------------Home page--------------*/
/*---mission----*/
.row-element{
  width:100%;
  max-width:1700px;
  margin: 0 auto;
 
}
.col{
  display: inline-block;
  margin: 20px 50px;
  width:40%;
  
  vertical-align: top;
  
}
.full-col{
  margin: 0px auto;
  padding: 0px 50px;
  width:100%;
  vertical-align: top;
}

figure.col{
  text-align: center;
}

/*---help----*/
#icon-container{
  padding:0 50px; 
  margin: 0 auto;
}

.icon-col{
  display: inline-block;
  vertical-align: top;
  width: 24%;
  padding: 20px 32px;
  padding-bottom: 0px;
}

.column-container{
  width:47%;
  display: inline-block;
  padding:0 50px; 
}

/*----image fade when hovered over---*/
.picture.image {
  display: block;
  width: 100%;
  height: auto;
  transition: opacity .5s ease;
  backface-visibility: hidden;
}
.picture.image:hover {
  opacity: 0.5;
}


/*--------------About page--------------*/
#hero-about{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("Images/ocean.jpg");
  width:100%;
  height: auto;
  padding-top: 90px;
  padding-bottom:30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
#hero-about-text{
  text-align: center;
  color: white;
  text-shadow: 2px 2px 15px rgb(85, 85, 85);
}

.icon-row{
  width:100%;
  margin:0 auto;
  text-align:center;
}

.text-middle{
  text-align: center;
  margin: 20px 200px;
  height:100%;
}

.icon-col2{
  display: inline-block;
  vertical-align: top;
  width: 27%;
  padding: 0 32px;
}

img.abt{
  vertical-align: center;
  width:500px;
}
#image-story{
  padding-top:100px;
}

/*--------------clean page--------------*/
#hero-clean{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/cleanup.jpg");
  width:100%;
  height: auto;
  padding-top: 150px;
  padding-bottom:60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
#hero-clean-text{
  text-align: center;
  color: white;
  font-size: 80%
}

img.cleanup{
  width:450px;
  vertical-align: center;
}
/*--------------raffle page--------------*/
#hero-raffle{
  background-image:  url("Images/raffle.png");
  width:100%;
  height: auto;
  padding-top: 150px;
  padding-bottom:60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
#hero-raffle-text{
  text-align: center;
  color: #242424;
  font-size: 80%
}
#progress-box{
  margin:0 auto;
  margin-bottom: -80px;
  background-color: #242424;
  width: 70%;
  max-width: 1000px;
  height: 200px;
  position: relative;
  bottom:80px;
  border-radius: 30px;
  box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.3);
}

#participants{
  width:150px;
  padding:30px;
  margin:inherit;
  color:white;
}

#goal{
  width:90%;
  margin:0;
  position: relative;
  top:50px;
  font-weight:400;
  font-size:1.4em;
  text-align:right;
  color:white;
}

#bar {
  width: 85%;
  margin:inherit;
  background-color: white;
  position: relative;
  border-radius: inherit;
  top: 40px;
  text-align: right;
}

#progress {
  width: 20%;
  height: 30px;
  border-radius: inherit;
  background-color: #75aa19;
}

#prize-img{
  width:100%;
  max-width:900px;
  margin: 0 auto;
  text-align: center;
 
}
#prize-img img {width:50%; }

#button-row{
  width:100%;
  margin: 0 auto;
  text-align:center;
}

#button-wrap{
  display: inline-block;
}

.button-element{
  margin: 0 10px;
  width: 100%;
  height: 80px;
}

.img-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

.img-column img {
  margin:15px;
  vertical-align: middle;
}

.container {
  display: inline-block;
  text-align: center;
  
}
.text{
  width:280px;
  margin: 0 auto;
  background-color: #f0f0f0;
  padding: 20px 10px;
  border-radius: 15px;
}

/*--form--*/
label {
  display:block;
  margin-top: 10px;
  font-size: 1.2em; 
  font-weight:400;
  color: #242424;
}

.checkbox{
  display: block;
  font-size:0.8em;
  font-weight: 200;
}


.description{
  font-size: 0.9em;
  color: #505050;
}

textarea{
  padding:15px;
  margin-top: 10px;
}
::placeholder{
  font-family: 'Rubik', sans-serif;
}

.consent{
  display: inline-block;
  margin: 10px;
}

input {
  margin: 4px 0px;

}

#enter input{
  width:95%;
  padding:15px;
  margin-bottom: 10px;
}

input:focus {
  border: 2px solid blue
}

#form-button{
  padding: 30px 100px;
  margin: 30px 0px;
}
#form-button:hover{
  background-color:white;
}

#form-box{
  background-color: rgb(255,255,255,0.95);
  box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.1);
  border-radius: 30px;
  padding: 10px 70px;
  margin:0 auto;
}

#form-box h3{
  font-size: 1.7em;
  margin-top: 40px;
  
}

label #cb1{
  width:5%;
  margin:10px 0px;
}

textarea{
  width:100%;
  font-size: 0.9em;
}


/*-------Join page-------------*/
.main-bg{
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("Images/join-bg.jpeg");
  width:100%;
  height: 100%;
  padding-top: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
}

.row-element #title{
  color:white;
  text-align:center;
}
#title h1{margin-bottom:0;}
#title p{font-size:1.4em; margin-top:0;}

#form-box-join{
  background-color: rgb(255,255,255,0.95);
  box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.1);
  border-radius: 30px;
  padding:30px 50px;
  width:60%;
  margin:0 auto;
  margin-top:50px;
  
}
#form-join{
  width:90%;
  margin:0 auto;
}
#form-join input{
  width:100%;
  padding:15px;
  margin-bottom: 10px;
}
label #yes{
  width:5%;
  margin:10px 0px;
}

#form-button{
  font-size: 1.5em;
  
}
#button-contain{
  width:100%;
  text-align: center;
  margin: 10px 0px;
}





/*----footer------*/
footer{
  display:flex;
  justify-content: center;
}
.footer-col{
  display: inline-block;
  vertical-align: top;
  padding:35px;
  width:25%;
  font-size: 80%;
  
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
  color: #242424;
}

/* Media Queries*/

@media screen and (max-width: 700px) {
  html{
    width:100%;
  }
  
  body {
    display: block;
    min-height: 200px;
    text-align: center;
    padding:0px;
  }

  .hero-image{
    width:100%;
    margin:0px;
  }

  .hero-text{
    width:100%;
    padding:0px;

  }
  .row-element{
    width: 100%;
    margin:0 auto;
    padding:0;
    text-align:center;
  }

  .col, 
  .text-middle {
    width: 100%;
    margin:5px;
  }

  .column-container{
    width:100%;
    padding:0px;
  }

  iframe{ width:100%;}

  img.picture {width:100%;}
  img.icon{width:100%;}
  img.abt{width:100%;}
  img.cleanup{width:100%;}


  section{
    width:100%;
    display:block;
    padding: 30px 25px;
  }

  #image-story{
    position:static;
    padding:0;
  }

  header {
    width:100%;
  }

  footer{
    display:block;
    width:100%;
  }

  div.footer-col{
    width:100%;
  }

  #button-wrap{
    padding: 10px 0px;
  }
  .button-element{
    width:100%;
    display:block;
  }
  #icon-container, 
  .icon-col,
  .icon-row,
  .icon-col2{
    width:100%;
    padding:0px;
  }

  div.icon-col2{
    display:block;
  }

  .full-col{
    display: block;
    margin:0 auto;
    padding:0px;
    width:100%;
  }

  #form-box-join,
  #form-box{
    width:100%;
    padding:10px;
  }
  #form-button{
    width:100%;
  }

}

@media screen and (max-width: 1425px) {

  body {
    width:100%;
    min-height: 200px;
  }

}