
/*--------------Base Styles--------------*/
html {
	scroll-behavior: smooth;
	font-size: 100%;
}

body {
  width:100%;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  font-family: 'Rubik', sans-serif;
  color: #242424;
  /* Up to you if you want to use grid or not */
  
	/* display: grid;
  
	grid-template-areas: 
  "header"
  "main"
  "footer"; */
}


/*--------------Typography--------------*/
h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  line-height: 1.7em;
  font-size: 3.7em;
}

h2 {
  font-weight: 700;
  font-size: 2.4em;
}

h3{
  font-weight: 600;
  font-size: 1.5em;
 
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  line-height:1.5em;
}

button {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1em;
}

ol{
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  line-height:1.5em;
}

a{
  color: white;
  text-decoration: none;
}


/*--------------Hero Image: Home--------------*/

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("Images/beach.png");
  /*background-image: url("Images/step-up.png");*/
  width:100%;
  height: auto;
  padding-top: 200px;
  padding-bottom:120px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
}

.hero-text {
  color: white;
  padding: 0px 150px;
  text-shadow: 2px 2px 15px rgb(85, 85, 85);
}

.hero-text p {
 margin-top:100px;
 font-size: 1.3em;
}

.hero-text button {
 border: none;
 display: inline-block;
 margin-top: 10px;
 padding: 20px 30px;
 cursor: pointer;
 background-color: white;
 color: #242424;
 border-radius: 30px;
}

.hero-text button:hover {
  background-color: #242424;
  color: white;
}

/*--------------Main Content--------------*/
section {
  padding: 30px 100px;
}

section:nth-of-type(2n){
  background: #f0f0f0;
}

button{
  cursor: pointer;
  border: none;
  border-radius: 30px;
  background-color: #242424;
  color: white;
  padding: 20px 30px;
  margin: 10px 0px;
}

button:hover{
  
}

img.picture{
  width:400px;
}

img.icon{
  width:180px;
}

iframe{
 width: 560px;
 height:315px;
 margin: 0 auto;
}
/*--------------Home page--------------*/
/*---mission----*/
.row-element{
  width:100%;
  max-width:1700px;
  margin: 0 auto;
 
}
.col{
  display: inline-block;
  margin: 20px 50px;
  width:40%;
  
  vertical-align: top;
  
}
.full-col{
  margin: 0px 50px;
  width:90%;
  vertical-align: top;
}

figure.col{
  text-align: center;
}

/*---help----*/
#icon-container{
  padding:0 50px; 
}

.icon-col{
  display: inline-block;
  vertical-align: top;
  width: 18%;
  padding: 0px 32px;
}

.column-container{
  width:500px;
  display: inline-block;
  padding:0 50px; 
}

/*--------------About page--------------*/
#hero-about{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("Images/ocean.jpg");
  width:100%;
  height: auto;
  padding-top: 90px;
  padding-bottom:30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
#hero-about-text{
  text-align: center;
  color: white;
  text-shadow: 2px 2px 15px rgb(85, 85, 85);
}

.icon-row{
  display: flex;
  justify-content: center;
}

.text-middle{
  text-align: center;
  margin: 20px 200px;
  height:100%;
  
  
}

.icon-col2{
  display: inline-block;
  vertical-align: top;
  width: 30%;
  padding: 0 32px;
}

#image-story{ 
  vertical-align: center;
  width:100%;
 
  }

/*--------------clean page--------------*/
#hero-clean{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/cleanup.jpg");
  width:100%;
  height: auto;
  padding-top: 150px;
  padding-bottom:60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
#hero-clean-text{
  text-align: center;
  color: white;
  font-size: 80%
}
/*--------------raffle page--------------*/
#hero-raffle{
  background-image:  url("Images/raffle.png");
  width:100%;
  height: auto;
  padding-top: 150px;
  padding-bottom:60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
#hero-raffle-text{
  text-align: center;
  color: #242424;
  font-size: 80%
}
#progress-box{
  margin:0 auto;
  margin-bottom: -80px;
  background-color: #242424;
  width: 70%;
  max-width: 1000px;
  height: 200px;
  position: relative;
  bottom:80px;
  border-radius: 30px;
  box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.3);
}

#participants{
  width:150px;
  padding:30px;
  margin:inherit;
  color:white;
}

#goal{
  width:90%;
  margin:0;
  position: relative;
  top:50px;
  font-weight:400;
  font-size:1.4em;
  text-align:right;
  color:white;
}

#bar {
  width: 85%;
  margin:inherit;
  background-color: white;
  position: relative;
  border-radius: inherit;
  top: 70px;
  text-align: right;
}

#progress {
  width: 20%;
  height: 30px;
  border-radius: inherit;
  background-color: #75aa19;
}

.steps{
  float: none;
}

#button-row{
  width:510px;
  margin: 0 auto;
}

#button-wrap{
  display: inline-block;
}

.button-element{
  margin: 0 10px;
  width: 230px;
  height: 100px;
}

.img-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

.img-column img {
  margin:15px;
  vertical-align: middle;
}

/*--form--*/
label {
  display:block;
  margin-top: 10px;
  font-size: 1.12em; 
  font-weight:400;
  color: #242424;
}

.checkbox{
  display: block;
  font-size:0.8em;
  font-weight: 200;
}

.description{
  font-size: 0.9em;
  color: #464646;
}

textarea{
  margin-top: 10px;
}
::placeholder{
  font-family: 'Rubik', sans-serif;
}

.consent{
  display: inline-block;
}

input {
  margin: 4px 0px;
  
}

input:focus {
  border: 2px solid blue
}

#form-button{
  padding: 20px 60px;
}

#form-box{
  background-color: white;
  border-radius: 20px;
  padding:10px 50px;
}

/*-------Join page-------------*/
.main-bg{
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("Images/join-bg.jpeg");
  width:100%;
  height: 1300px;
  padding-top: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
}

/* Media Queries*/

@media screen and (max-width: 700px) {

  body {
    display: block;
    min-height: 200px;
    text-align: center;
  }

  .row-element{
    width: 100%;
    margin:0 auto;
    padding:0;
  }

  .col {
    width: 100%;
  }

  .column-container {
    width: 100%;
  }

  img.picture{
    width:100%;
  }

  img.icon{
   width:100%;
  }

  section{
    width:100%;
    display:block;
    padding: 10px;
  }

  #image-story{
    position:static;
  }

  header {
    width:100%;
  }
}

@media screen and (max-width: 1425px) {

  body {
    width:100%;
    min-height: 200px;
  }

}